@import theme

html, body
  padding: 0
  margin: 0
  font-size: 1.2em

a 
  color: inherit
  text-decoration: none

* 
  box-sizing: border-box
  margin: 0
  padding: 0

.main 
  @apply flex flex-col min-h-screen absolute

.background
  // position, bg
  @apply h-screen w-screen fixed
  @apply bg-no-repeat bg-center bg-fixed

  background: linear-gradient(0deg, $gradientMain2 0%, $gradientMain1 100%)
  
input[type="text"]
  background: transparent

.filter-bg-icon
  filter: opacity(7%)