@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Teko";
    src: url("/fonts/Teko/Teko-Medium.ttf");
    font-style: medium;
    font-weight: 500;
    font-display: swap;
}